.center-container {
    width: 400px;
}

.buttons {
    width: 200px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.btn {
    margin-right: 15px;
    margin-left: 15px;
}

.btn + .btn {
    margin-top: 15px;
}

.dead {
    display: none;
}